# for git and rsync
# git push -u origin main
# rsync -avz --exclude-from='.gitignore' ./ admskl@bracevps:/home/admskl/v4
.DS_Store
.git/
.claude/
.zencoder/
.zenflow/

frontend/node_modules/
frontend/dist/

backend/node_modules/

.docs
.sql
deployment.md
full_backup.sql
nginx.conf
nginx.dev.conf
readme.md