# for git and rsync
# git push -u origin main
# rsync -avz --exclude-from='.gitignore' ./ admskl@bracevps:/home/admskl/v4
.DS_Store
.git/
.claude/
.zencoder/
.zenflow/

frontend/node_modules/

backend/node_modules/

.docs
.sql
